rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the 'real-estate-info' collection
    match /real-estate-info/{document=**} {
      // Allow read access to anyone
      allow read: if true;
      // Prevent write access by default, or define conditions for write access
      allow write: if false;
    }
  }
}